
# -----------------------
# Python bytecode / cache
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# Virtual environment
# -----------------------
venv/
env/
.env/

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------
# macOS
# -----------------------
.DS_Store

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Database
# -----------------------
*.sqlite3
*.db

# -----------------------
# ML / Model
# -----------------------
*.pkl
*.joblib
*.h5

# -----------------------
# Coverage / pytest
# -----------------------
.coverage
htmlcov/
*.pytest_cache/
.pytest_cache/

# -----------------------
# Temporary / OS files
# -----------------------
*.swp
*.swo
*.tmp
*.bak

# -----------------------
# FastAPI / Uvicorn temp
# -----------------------
*.pid